:root {
  --background-color: #ffffff;
  --text-color: #b6b6b6;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

#cat-section {
  background-color: rgb(103, 197, 147);
  color: rgb(42, 81, 60);
  overflow-x: scroll;
  white-space: nowrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

#cat-section figure {
  display: inline-block;
  background-color: rgb(167, 228, 195);
  border-radius: 10px;
}

#cat-section figcaption {
  padding: 10px;
}

#cat-section img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#cat-section figure:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer;
}

.catphoto {
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#cat1 {
  background-image: url("./img/cat1.jpg");
}
#cat2 {
  background-image: url("./img/cat2.jpg");
}
#cat3 {
  background-image: url("./img/cat3.jpg");
}
#cat4 {
  background-image: url("./img/cat4.jpg");
}
